* {
    font-family: 'Mansalva', cursive;

}

body {
    background-color: aliceblue
}

button {
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.2em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
}

button:hover {
    border-color: silver;
}

.main-heading {
    margin: auto;
    padding: 20px;
    text-align: center;
}

.page-container {
    margin: 50px;
    

}